@media (max-width: 768px) {
    body {
      width: 100%;
      padding: 10px;
    }
  
    .container {
      width: 100%;
      margin: 10px 0;
      padding: 10px;
    }
  
    .top-header, .cards-main, .info {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }
  
    .cards {
      width: 100%;
    }
  
    .text-card {
      width: 100%;
      height: auto;
    }
  
    .b-cards, .bottom button {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      width: 90%;
      margin: 10px;
    }
  
    .cards-main {
      flex-direction: column;
      gap: 20px;
    }
  
    .cards {
      width: 100%;
    }
  
    .text-card {
      width: 100%;
      height: auto;
    }
  
    .b-cards, .bottom button {
      width: 100%;
    }
  
    .title-header, .title-main {
      font-size: 20px;
    }
  
    footer {
      flex-direction: column;
      gap: 20px;
    }
  
    .nav-header ul, .nav-footer ul {
      flex-direction: column;
      align-items: center;
    }
  }
  