

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
 
}

.container{
    border: 1px solid #333;
    display:flex ;
    flex-direction: column;
    width: 1000px;
    margin: 30px;
    flex-wrap: wrap;
    
}
.top-header{
    display:flex ;
    justify-content:space-between ;
    align-items: center;
    background-color: #333;
    

}
.nav-header{
    display: flex;
    flex-wrap: wrap;



    & ul{
        display:flex ;
        gap: 20px;
        margin: 20px;

        & li{
            display: flex;
            & a{
                color: #06a9db;
                text-decoration: none;
            }
        }
    }

}
.log-header{
    display:flex ;
    
    & .logo{
        width: 50px;
        height: 50px;
        margin: 20px;
        border-radius: 10px;
    }
}
.title-header{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #9a9696;

}
.title-main{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;

}
.cards-main{
    display:flex ;
    gap:40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.bottom{
    text-align: center;
    margin: 20px;

    & button{
        width: 100px;
        height: 40px;
        border-radius: 10px;
        border: none;
        box-shadow: 0 10px 30px green;
        background-color: green;

        & a{
            text-decoration: none;
            color: #fff;
        }
    }
}
.cards{
    border:  1px solid #333;
    display: flex;
    margin: 20px;

    &  img{
        width: 500px;
        height: 300px;
    }

}
.img-card{
    display: flex;
}
.text-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
   gap: 10px;
   text-align: center;
}
.b-cards{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 10px 30px rgb(3, 224, 202);
    background-color: rgb(3, 232, 248);

    & a{
        text-decoration: none;
        color: #fff;
    }
}